@model CongThongTinDHL.Models.ThongBaoPhong

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ThongBaoPhong</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenTb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenTb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnhTb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnhTb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTaNgan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTaNgan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoChiTiet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoChiTiet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayDang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayDang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaPhongNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaPhongNavigation.MaPhong)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaTbphong">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
