@model IEnumerable<CongThongTinDHL.Models.CoCauToChuc>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenTc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTaNgan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoChiTiet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayDang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenTc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTaNgan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoChiTiet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaTc">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaTc">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaTc">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
