@model CongThongTinDHL.Models.SinhVien

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>SinhVien</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenSv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenSv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailSv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailSv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PasswordSv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PasswordSv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sdt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sdt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SdtphuHuynh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SdtphuHuynh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnhSv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnhSv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cmnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cmnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoiSinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoiSinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DanToc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DanToc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TonGiao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TonGiao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuocTich)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuocTich)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaKhoaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaKhoaNavigation.MaKhoa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaLopNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaLopNavigation.MaLop)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaSv">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
