@model IEnumerable<CongThongTinDHL.Models.SinhVien>

@{
    ViewData["Title"] = "Quản Lý Sinh Viên";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Danh Sách Sinh Viên</h1>

<p>
    <a class="btn btn-secondary" asp-action="Create">Thêm</a>
</p>
<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th>
                Ảnh
            </th>
            <th>
                Tên Sinh Viên
            </th>
            <th>
                Email
            </th>
            <th>
                Điện thoại
            </th>
            <th>
                Giới tính
            </th>
            <th>
                Nơi Sinh
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Quốc tịch
            </th>
            <th>
                Khoa
            </th>
            <th>
                Lớp
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@item.AnhSv" alt="" width="60"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenSv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailSv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sdt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioiTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoiSinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.QuocTich)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaKhoaNavigation.TenKhoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaLopNavigation.TenLop)
            </td>
            <td>
                <a class="btn btn-primary m-1" asp-action="Edit" asp-route-id="@item.MaSv">Sửa</a>
                    <a class="btn btn-danger m-1" asp-action="Delete" asp-route-id="@item.MaSv">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
